

<div class="container">
    <h2>Products</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Manufacturer</th>
            <th>Name</th>
            <th>Price</th>
            <th>Cover path</th>
            <th>Type</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
        {{#each Products}}
        <tr>
            <td>{{manufacturer}}</td>
            <td><a href="/{{_id}}">{{name}}</a></td>
            <td>{{basePrice}}</td>
            <td>{{cover}}</td>
            <td>{{type}}</td>
            <td><form action="/{{_id}}/delete" method="post">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>