
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Bảng điều khiển</strong>
                            </div>
                            <form method="get" action="/" id="search">
                                <div class="search hidden-xs" data-style="hidden">
                                    <div class="input">

                                        <input type="text" name="name" value="" placeholder="Type here..." id="textSearch" />
                                        <input type="submit" id="myBtn"/>
                                    </div>
                                </div>
                            </form>
                            <form method="post" id="typeform">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default btn-sm active">
                                        <input type="radio" name="options" id="option1" onchange="TypeFormSubmit();" value="" {{#if Allcheck}}checked{{/if}}> All products
                                    </label>
                                    <label class="btn btn-default btn-sm">
                                        <input type="radio" name="options" id="option2" onchange="TypeFormSubmit();" value="Desktops" {{#if Desktopscheck}}checked{{/if}}> Desktops
                                    </label>
                                    <label class="btn btn-default btn-sm">
                                        <input type="radio" name="options" id="option3" onchange="TypeFormSubmit();" value="Laptops" {{#if Laptopscheck}}checked{{/if}}> Laptops
                                    </label>
                                    <label class="btn btn-default btn-sm">
                                        <input type="radio" name="options" id="option4" onchange="TypeFormSubmit();" value="Tablets" {{#if Tabletscheck}}checked{{/if}}> Tablets
                                    </label>
                                    <label class="btn btn-default btn-sm">
                                        <input type="radio" name="options" id="option5" onchange="TypeFormSubmit();" value="Hybrids" {{#if Hybridscheck}}checked{{/if}}> Hybrids
                                    </label>
                                </div>
                            </form>
                            <script type="text/javascript">
                                function TypeFormSubmit(){
                                    document.getElementById("typeform").action = '/?type=' + document.getElementById('typeform').options.value;
                                    document.getElementById("typeform").submit();

                                }
                            </script>
                            <div class="card-body">
                                <div id="bootstrap-data-table_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="bootstrap-data-table"
                                                   class="table table-striped table-bordered dataTable no-footer" role="grid"
                                                   aria-describedby="bootstrap-data-table_info">
                                                <thead style="text-align: center">
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="bootstrap-data-table" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 239px;">Branch</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Position: activate to sort column ascending"
                                                        style="width: 399px;">Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 177px;">Price</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                        style="width: 140px;">Cover path</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                        style="width: 140px;">Type</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                        style="width: 140px;">Option</th>
                                                </tr>
                                                </thead>
                                                <tbody style="text-align: center">
                                                {{#each Products}}
                                                    <tr>
                                                        <td>{{manufacturer_id.name}}</td>
                                                        <td><a href="/update/{{_id}}">{{name}}</a></td>
                                                        <td>{{basePrice}}</td>
                                                        <td> <img class="cover" src="{{cover}}"/></td>
                                                        <td>{{type}}</td>
                                                        <td class="vert-aligned">
                                                            {{#eq state  "active"}}
                                                            <form action="/delete/{{_id}}" method="post" id="button">
                                                                <input class="btn btn-danger" type="submit" value="Delete">
                                                            </form>
                                                            {{/eq}}
                                                            {{#eq state  "hide"}}
                                                                <form action="/enable/{{_id}}" method="post" id="button">
                                                                    <input class="btn btn-success" type="submit" value="Enable" >
                                                                </form>
                                                            {{/eq}}
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-around">
                                <ul class="pagination pagination-sm m-0">
                                    <a href="/?page={{prevPage}}">
                                    <button class="page-link" >
                                        Prev
                                    </button>
                                    </a>
                                    <label class="page-link">
                                        {{page}}
                                    </label>
                                    <a href="/?page={{nextPage}}">
                                    <button class="page-link">
                                        Next
                                    </button>
                                    </a>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <form action="/add" method="post" class="d-flex justify-content-end">
                                    <input class="btn btn-primary" type="submit" value="Add Product">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<script>
    const input = document.getElementById("textSearch");
    input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
    });


</script>
<script type="text/javascript">
    function get_action(form) {
        form.action = '/?name=' + document.getElementById('textSearch').value;
    }
</script>