<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Danh sách người dùng</h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>STT</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>ID</th>
                            <th>Trạng thái</th>
                            <th>Vai trò</th>
                            </thead>
                            <tbody>
                            {{#each accounts}}
                            <tr>
                                <td>{{@index}}</td>
                                <td> <a href="/users/{{_id}}">{{name}}</a></td>
                                <td>{{email}}</td>
                                <td>{{_id}}</td>
                                <td>{{status}}</td>
                                <td>{{type}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>