<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Danh sách đơn hàng</h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped left-table">
                            <thead>
                            <th>STT</th>
                            <th>Mã đơn</th>
                            <th>Trạng thái</th>
                            <th>Ngày đặt hàng</th>
                            <th>Tổng tiền<th>
                            </thead>
                            <tbody>
                            {{#each orders}}
                                <tr>
                                    <td>{{add @index 1}}</td>
                                    <td><a href="/orders/{{_id}}">{{_id}}</a></td>
                                    <td>{{status}}</td>
                                    <td>{{convertDate dateModified}}</td>
                                    <td>{{convertPrice totalCost}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>