
{{#if admin}}
    {{#with user}}
        <div class="content">
            <div class="container-fluid">
                <form action="/users/{{_id}}/save" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin tài khoản</h4>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tên</label>
                                                <input type="text" class="form-control" name="name" placeholder="Last Name" value="{{name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Cập nhật</button>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="d-flex flex-column align-items-center">
                                <img src="{{avatar}}"  alt="cover" id="coverImage" class="avatar">
                                <p>Ảnh đại diện</p>
                                <label for="cover" class="btn btn-sm btn-success"><input type="file" name="avatar" id="cover" hidden>Sửa</label>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </div>


    {{/with}}
{{else}}
    {{#with account}}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Thông tin tài khoản</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" name="name" placeholder="Last Name" value="{{name}}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Status</label>
<!--                                                <input type="checkbox" class="form-control" name="status" value="BLock">-->
                                                {{#eq status  "active"}}
                                                    <a href="javascript:;" id="block-user" class="btn btn-danger">Block</a>
                                                {{/eq}}
                                                {{#eq status  "blocked"}}
                                                    <a href="javascript:;" id="block-user" class="btn btn-success">Unblock</a>
                                                {{/eq}}

                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column align-items-center">
                                <img src="{{avatar}}"  alt="cover" id="coverImage" class="avatar">
                                <br>
                                <p>Ảnh đại diện</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {{/with}}
{{/if}}
