{{#if firstDate}}<h5 style="margin-left: 20px"><strong>{{convertDate firstDate}} - {{convertDate lastDate}}</strong></h5>{{/if}}
<table class="table table-hover left-table">
    <thead>
    <th>STT</th>
    <th>Mã sản phẩm</th>
    <th>Tên sản phẩm</th>
    <th>Số lượng</th>
    <th>Doanh thu</th>
    </thead>
    <tbody>
    {{#each Products}}
        <tr>
            <td >{{add @index 1}}</td>
            <td>{{info._id}}</td>
            <td>{{info.name}}</td>
            <td>{{total}}</td>
            <td>{{convertPrice totalRevenue}}</td>
        </tr>
    {{/each}}
    <tr>
        <td></td>
        <td></td>
        <td style="text-align:right !important; ">Tổng cộng:</td>
        <td>{{sumNum Products}}</td>
        <td>{{convertPrice (sumCost Products)}}</td>
    </tr>
    </tbody>
</table>